body{
    text-align: justify;
    font-size: 25px;
    font-family: Verdana, Geneva, Tahoma, sans-serif; 
    max-width: 1000px;
    margin: auto;
    cursor: url(https://cur.cursors-4u.net/others/oth-1/oth80.cur), auto !important;
    background-color: hsl(0, 0%, 10%);
    color: hsl(0, 0%, 70%);
    font-size: 20px;
}
.main{
    margin: auto;
    padding: 20px;
    font-size: 25px;
}
h1{
    padding: 25px;
    text-align: center;
}
h1, h2{
    padding: 20px;
    font-size: 80px;
    font-weight: 700;
    text-align: center;
}
    
button {
    margin-bottom: 30px;
}

#jobbkep {
    width: 500px;
}

ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding-left: 15px;
    padding-right: 15px;
    color: hsl(0, 0%, 70%);
}