@import url('https://fonts.cdnfonts.com/css/bebas-neue');

body{
    
}

.navbar-brand{
    font-size: 25px;
}

nav a{
    color: #fff;
    font-family: 'Bebas Neue', sans-serif;
    font-weight: bold;
}

nav{
    background-color: #121212;
    font-family: 'Bebas Neue', sans-serif;
}