body{
    text-align: justify;
    font-size: 25px;
    font-family: Verdana, Geneva, Tahoma, sans-serif; 
    font-family: 'Bebas Neue', sans-serif;
    margin-left: 75px;
    margin-right: 75px;

    background-color: hsl(0, 0%, 10%);
    color: hsl(0, 0%, 70%);
    font-size: 20px;
}
.main{
    margin: auto;
    padding: 20px;
    font-size: 25px;
}
h1{
    padding: 25px;
    text-align: center;
}
h1, h2{
    padding: 20px;
    font-size: 80px;
    font-weight: 700;
    text-align: center;
}
    
button {
    margin-bottom: 30px;
}

#jobbkep {
    width: 500px;
}