body{
    text-align: justify;
    font-size: 25px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    /* font-family: 'Bebas Neue', sans-serif; */    
    background-color: hsl(0, 0%, 10%);
    color: hsl(0, 0%, 70%);
}
.main{
    margin: auto;
    padding: 20px;
    font-size: 25px;
}
h1{
    padding: 25px;
    text-align: center;
}
h1, h2{
    padding: 20px;
    font-size: 80px;
    font-weight: 700;
    /* text-align: center; */
}

hr{
    border-color: hsl(208, 100%, 97%);
    border: 2px solid;
    margin: 20px auto;
}

table, th, td {
    border:1px solid hsl(0, 0%, 100%);
}